<section id="essentials" class="essentials section">
  <div class="container">
    <h2>Essentials</h2>
    <div class="section_area">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <div class="essential_block">
            <div class="essential_icon icon1 delay-03s animated wow zoomIn"> <span><i class="fa-flash"></i></span> </div>
            <h3 class="animated fadeInUp wow"><a href="http://setup.{{site.base}}/">Download Setup</a></h3>
            <p class="animated fadeInDown wow">Feel the power of the OSP platform and get the latest and greated version of the suite. My mum loves it.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="essential_block">
            <div class="essential_icon icon2  delay-03s animated wow zoomIn"> <span><i class="fa-comments"></i></span> </div>
            <h3 class="animated fadeInUp wow"><a href="http://forum.{{site.base}}/">Forum</a></h3>
            <p class="animated fadeInDown wow">Ask questions, make friends for life, be super awesome and be part of our great community</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="essential_block">
            <div class="essential_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa-book"></i></span> </div>
            <h3 class="animated fadeInUp wow"><a href="http://docs.{{site.base}}/">Documentation</a></h3>
            <p class="animated fadeInDown wow">Latest version of our great documentation wiki style. Check it out! And if you don't like it, own it!</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="essential_block">
            <div class="essential_icon icon4  delay-03s animated wow zoomIn"> <span><i class="fa-database"></i></span> </div>
            <h3 class="animated fadeInUp wow"><a href="http://examples.{{site.base}}/">Examples</a></h3>
            <p class="animated fadeInDown wow">Having trouble sleeping? Browse our examples</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>