<section id="essentials" class="essentials section">
  <div class="container">
    <h2>Essentials</h2>
    <div class="section_area">
      <div class="row">
        
        <div class="col-lg-4 col-md-4">
          <div class="essential_block">
            <div class="essential_icon icon1 delay-03s animated wow zoomIn">
              <span>
                <a href="http://setup.{{site.base}}/" target="_blank"><i class="fa fa-arrow-down"></i></a>
              </span> 
            </div>
            <h2 class="animated fadeInUp wow">Download Setup</h2>
            <p class="animated fadeInDown wow">Download and installation only requires to accept GPLv2 license and will allow you to explore the full functionality of the OSP suite.</p>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-4">
          <div class="essential_block">
            <div class="essential_icon icon2 delay-03s animated wow zoomIn">
              <span>
                <a href="http://forum.{{site.base}}/" target="_blank"><i class="fa fa-comments"></i></a>
              </span> 
            </div>
            <h2 class="animated fadeInUp wow">Forum</h2>
            <p class="animated fadeInDown wow">Ask questions, get and provide answers or input. Also stay up-to-date on latest announcements and surveys.</p>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-4">
          <div class="essential_block">
            <div class="essential_icon icon3 delay-03s animated wow zoomIn"> 
              <span>
                <a href="http://docs.{{site.base}}/" target="_blank"><i class="fa fa-book"></i></a>
              </span> 
            </div>
            <h2 class="animated fadeInUp wow">Documentation</h2>
            <p class="animated fadeInDown wow">500 pages of software manual including additional documentation. Missing something or prefer wiki style – feedback and input welcome!</p>
          </div>
        </div>
<!--         
        <div class="col-lg-3 col-md-3">
          <div class="essential_block">
            <div class="essential_icon icon4 delay-03s animated wow zoomIn"> 
              <span>
                <a href="http://training-materials.{{site.base}}/" target="_blank"><i class="fa-play"></i></a>
              </span> 
            </div>           
            <h2 class="animated fadeInUp wow">Tutorials</h2>
            <p class="animated fadeInDown wow">Training materials for all our upcoming workshops.</p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>