<section id="essentials" class="essentials section">
  <div class="container">
    <h2>Essentials</h2>
    <div class="section_area">
      <div class="row">
        
        <div class="col-lg-3 col-md-3">
          <div class="essential_block">
            <div class="essential_icon icon1 delay-03s animated wow zoomIn">
              <span>
                <a href="http://setup.{{site.base}}/" target="_blank"><i class="fa-comments"></i></a>
              </span> 
            </div>
            <h2 class="animated fadeInUp wow">Download Setup</h2>
            <p class="animated fadeInDown wow">Feel the power of the OSP platform and get the latest and greated version of the suite. My mum loves it.</p>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-3">
          <div class="essential_block">
            <div class="essential_icon icon2 delay-03s animated wow zoomIn">
              <span>
                <a href="http://forum.{{site.base}}/" target="_blank"><i class="fa-comments"></i></a>
              </span> 
            </div>
            <h2 class="animated fadeInUp wow">Forum</h2>
            <p class="animated fadeInDown wow">Ask questions, make friends for life, be super awesome and be part of our great community</p>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-3">
          <div class="essential_block">
            <div class="essential_icon icon3 delay-03s animated wow zoomIn"> 
              <span>
                <a href="http://docs.{{site.base}}/" target="_blank"><i class="fa-book"></i></a>
              </span> 
            </div>
            <h2 class="animated fadeInUp wow">Documentation</h2>
            <p class="animated fadeInDown wow">Latest version of our great documentation wiki style. Check it out! And if you don't like it, own it!</p>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-3">
          <div class="essential_block">
            <div class="essential_icon icon4 delay-03s animated wow zoomIn"> 
              <span>
                <a href="http://training-materials.{{site.base}}/" target="_blank"><i class="fa-play"></i></a>
              </span> 
            </div>           
            <h2 class="animated fadeInUp wow">Training Materials</h2>
            <p class="animated fadeInDown wow">Training materials for all our upcoming workshops</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>