<section id="examples" class="examples section">
  <div class="container">
    <h2>Examples</h2>
    <div class="section_area">
      <div class="row">
        {% assign rows = site.examples.size | divided_by: 2.0 | ceil %}
        <div class="col-lg-6 col-sm-6 wow fadeInLeft delay-05s">
          {% for example in site.examples limit: rows %}
          <div class="item-list">
            <div class="item-col">
              <h3><a href="{{site.github}}{{example.github_url}}" target="_blank">{{example.title}}</a></h3>
              <p>{{example.description}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
        
        <div class="col-lg-6 col-sm-6 wow fadeInRight delay-05s">
          {% for example in site.examples offset: rows %}
          <div class="item-list">
            <div class="item-col">
              <h3><a href="{{site.github}}{{example.github_url}}" target="_blank">{{example.title}}</a></h3>
              <p>{{example.description}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="action_button"> 
        <span>Take a look at all our examples</span> 
        <a href="http://examples.{{site.base}}/" target="_blank">Browse</a> 
      </div>
    </div>
  </div>
</section>