<footer id = "footer" class="footer">
  <div class="container">
    <a href="{{site.url}}" class="footer-logo"></a>
    <ul class="footer-menu">
      <li><a href="http://forum.{{site.base}}">Forum</a></li>
      <li><a href="http://setup.{{site.base}}">Setup</a></li>
      <li><a href="http://docs.{{site.base}}">Documentation</a></li>
      <li class="icon-github"><a href="{{site.github}}">GitHub</a></li>
      <li class="icon-twitter"><a href="{{site.twitter}}">Twitter</a></li>
    </ul>
  </div>
</footer>
