 <header id="header" class="header">
  <div class="container">
    <div class="header_area">
      <div class="logo"><a href="javascript:void(0)"><img src="img/logo_header.png" alt=""></a></div>
      <nav class="nav" id="nav">
        <ul class="toggle">
          {% include nav-menus.html %}
        </ul> 
        <ul>
          {% include nav-menus.html %}
        </ul>
      </nav>
      <a class="res-nav_click animated wobble wow"  href="javascript:void(0)"><i class="fa-bars"></i></a> </div>
    </div>
  </header>