<section id="intro" class="intro section">
  <div class="intro_container_outer">
    <div class="container">
      <div class="section_area">
        <div class="row">
          <div class="col-lg-8 col-sm-4">
            <div class="wow animated">
              <h3>Open Systems Pharmacology</h3>
              <h1>Vision</h1>
              <p>Robust and reliable, easy-to-use modeling &amp; simulation tools, processes and models for pharmaceutical and other life-sciences applications qualified and accepted by a scientific community from academia, regulatory agencies and industry available and open to everyone.</p>

              <h1>Mission</h1>
              <p>Provide a platform for joint development, review &amp; qualification, and application of state-of-the-art tools for PBPK and Systems Pharmacology modeling and an open library of models for application as well as method &amp; tool qualification purposes. Promote the idea of pre-competitive open collaboration for the advancement of modeling &amp; simulation sciences in pharmaceutical and life science.</p>

              <div class="learn_more"><a class="page-scroll" href="#essentials">Learn more</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>