<section id="intro" class="intro section">
  <div class="intro_container_outer">
    <div class="container">
      <div class="section_area">
        <div class="row">
          <div class="col-lg-5 col-sm-7">
            <div class="wow animated">
              <h3>Open Systems Pharmacology</h3>
              <h2>with PK-Sim® and MoBi® for Quantitative Systems Pharmacology</h2>
              <p>Robust and reliable, easy-to-use modeling &amp; simulation tools, processes and models for pharmaceutical and other life-sciences applications qualified and accepted by a scientific community from academia, regulatory agencies and industry available and open to everyone.</p>
              <div class="learn_more"><a href="#essentials">Learn more</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>