 <header class="header">
  <div class="container">
    <div class="header_area">
      <div class="logo"><a href="javascript:void(0)"><img src="img/logo_header.png" alt=""></a></div>
      <nav class="nav" id="nav">
        <ul class="toggle">
          <li><a href="#intro">Home</a></li>
          <li><a href="#essentials">Essentials</a></li>
          <li><a href="#news">News and Release</a></li>
          <li><a href="#examples">Examples</a></li>
          <li><a href="#newsletter">Newsletter</a></li>
        </ul> 
        <ul>
          <li><a href="#intro">Home</a></li>
          <li><a href="#essentials">Essentials</a></li>
          <li><a href="#news">News and Release</a></li>
          <li><a href="#examples">Examples</a></li>
          <li><a href="#newsletter">Newsletter</a></li>
        </ul>
      </nav>
      <a class="res-nav_click animated wobble wow"  href="javascript:void(0)"><i class="fa-bars"></i></a> </div>
    </div>
  </header>