<section id="news" class="section news">
  <div class="news_container_outer">
    <div class="container">
      <h2>News and Release</h2>
      <div class="section_area">
        <div class="row">
          <div class="col-lg-6 col-sm-6 wow fadeInLeft delay-05s">
            {% for news in site.news %}
            <div class="news-list">
              <div class="news-list-col1"><i class="fa-{{news.icon}}"></i></div>
              <div class="news-list-col2">
                <h3><a href="{{site.github}}{{news.github_url}}">{{news.title}}</a></h3>
                <p>{{news.description}}</p>
              </div>
            </div>
            {% endfor %}
            <div class="action_button"> <span>Ready to take the plunge?</span> <a href="#contact">Download</a> </div>
          </div>
          <figure class="col-lg-6 col-sm-6  text-right wow fadeInUp delay-02s"> </figure>
        </div>
      </div>
    </div>
  </div>
</section>