 <section id="testimonials">
  <h2>Happy Users</h2>
  <div class="testimonials_area ">
    
    <div class="testimonial_section animated  fadeInUp wow">
      <div class="testimonial_profile">
        <div class="testimonial_profile_pic"><img src="img/client-pic1.jpg" alt=""></div>
        <h3>Saul Goodman</h3>
        <span>Awesome Modeller</span> </div>
        <div class="quote_section">
          <div class="quote_arrow"></div>
          <p><b><img src="img/quote_sign_left.png" alt=""></b>Thanks to PK-Sim and MoBi, all my modelling dreams came true. I have never felt so confident looking at a PK Curve.<small><img src="img/quote_sign_right.png" alt=""></small> </p>
        </div>
        <div class="clear"></div>
      </div>
      
      <div class="testimonial_section animated  fadeInDown wow">
        <div class="testimonial_profile flt">
          <div class="testimonial_profile_pic"><img src="img/client-pic2.jpg" alt=""></div>
          <h3>Marie Schrader</h3>
          <span>Amazing researcher</span>
        </div>
        <div class="quote_section flt">
          <div class="quote_arrow2"></div>
          <p><b><img src="img/quote_sign_left.png" alt=""></b> I was blown away with the quality of the tools available in the Open Systems Pharmacology Suite. The support we received from the community was amazing. Thanks you so much for making the PBPK world better. <small><img src="img/quote_sign_right.png" alt=""></small> </p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </section>