<section id="users"> 
  <div class="users-area">
    <div class="container">
      <ul class="delay-06s animated  bounce wow">
        <li><a href="javascript:void(0)"><img src="img/c-liogo1.png" alt=""></a></li>
        <li><a href="javascript:void(0)"><img src="img/c-liogo2.png" alt=""></a></li>
        <li><a href="javascript:void(0)"><img src="img/c-liogo3.png" alt=""></a></li>
        <li><a href="javascript:void(0)"><img src="img/c-liogo5.png" alt=""></a></li>
      </ul>
    </div>
  </div>
</section>