#examples{
	position:relative;
	padding-top: $sectionPaddingTop;
}

.examples_container_outer{
	
}	

.examples_area { 
	padding: $sectionArea
}

.example-list{
	padding:0 0 0 0;
	font-size:14px;
	margin-bottom:40px;
}

.example-list-col2{
	padding-left: 60px;
	overflow:hidden;	
}