.examples{
  background:$examples-background-color;
  
  .example-list{
    padding:0 0 0 0;
    font-size:14px;
    margin-bottom:40px;
  }

  .example-list-col2{
    padding-left: 60px;
    overflow:hidden;	
  }
}