.intro {
	@include background-image('intro-bg.jpg', $intro-background-color);

	&.section {
			padding-top: 120px;
	}
  	
	h3 {
		font-size:16px;
		color:$theme-color1;
		margin:0 0 20px 0;
		text-align:left;
		font-family:'Lato';
		font-weight: 700;
		letter-spacing: 1px;
	}
	
	h2 {
		font-size:40px;
		color:#111111;
		line-height: 52px;
		margin:0 0 26px 0;
		font-family:'Dosis';
		text-align:left;
		font-weight:700;

    @include medium-2 {
      font-size:24px;
    }
    
    @include medium {
		  font-size:29px;
	  }

    @include mobile {
		  font-size:20px;
    }    
	}
	
	p{
		font-size:16px;
		color:$theme-color4;
		margin:0 0 30px 0;
		line-height: 26px;
		font-family:'Lato';
	}
	
	.learn_more{
		display: block;
		@include action-button;
	}
}
