@import "variables";

@mixin headline ($size, $lineheight, $color: $primary) {
  font-size: $size;
  line-height: $lineheight;
  color: $color;
}

@mixin logoimage ($imageurl, $width, $height) {
  background-image: url($imageurl);
  width: $width;
  height: $height;
  background-size: 100%;
  background-repeat: no-repeat;
}

@mixin flexcontainer () {
  display: flex;
  align-items: center;
  justify-content: center;
}

/// Mixin to manage responsive breakpoints
/// @author Hugo Giraudel
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
    + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin action-button($backgroundColor:$default-button-action-background-color, $hoverColor:$default-button-action-hover-color, $textColor:$default-button-action-text-color){
  background: $backgroundColor;
  text-transform:uppercase;
  width:176px;
  height:49px;
  text-align:center;
  line-height:49px;
  font-size:16px;
  color:$textColor;
  border-radius:3px;
  font-family:'Dosis';
  font-weight: 600;
  a {
    color: $textColor;
  }
  
  @include easeLinear;
  
  &:hover,
  &:focus,
  &:active {
    background:$hoverColor;
  }
}

@mixin tiny {
  @media only screen and (max-width: 359px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: 478px) {
    @content;
  }
}

@mixin small {
  @media only screen and (max-width: 639px) {
    @content;
  }
}

@mixin medium {
  @media only screen and (max-width: 767px) {
    @content;
  }
}


@mixin medium-2 {
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}

@mixin large-2 {
  @media only screen and (min-width: 1200px){
    @content;
  }
}

@mixin background-png-3x ($image) {
  background-repeat: no-repeat;
  background-image: url("#{$imagesPath}#{$image}.png");
  
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    background-image: url("#{$imagesPath}#{$image}@2x.png");
    background-size: 100%;
  }
  @media (-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 216dpi) {
    background-image: url("#{$imagesPath}#{$image}@3x.png");
    background-size: 100%;
  }  
}

@mixin size ($w, $h) {
  width: $w; 
  height: $h;
}

@mixin border-radius ($r) {
  -webkit-border-radius: $r; 
  -moz-border-radius: $r;
  -o-border-radius: $r; 
  -ms-border-radius: $r; 
  border-radius: $r;
}

@mixin easeLinear ($time: 0.2s, $easing: linear, $props: all) {
  transition: $props $time $easing 0s;    
  -moz-transition: $props $time $easing 0s;    
  -moz-transition: $props $time $easing 0s;    
}

@mixin rotating ($time: 9s) {
  animation-name: ani-rotate; 
  animation-duration: $time; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@mixin section_area_outer($imageName){
  background:url(../img/#{$imageName}.png) no-repeat right bottom;
  
  @media only screen and (min-width: 980px) and (max-width: 1200px) {
    background-size:400px;  
  };
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    background-size:327px;  
  };
  
  @media only screen and (max-width: 767px) {
    background-size: 90% auto;
    -webkit-background-size: 90% auto;
    padding-bottom: 68%;
  };
  
}

@keyframes ani-rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes ani-thrust-line {
  0% { height: 3px; }
  20% { height: 15px; }
  100% { height: 3px; }
}

