@import "variables";

.header{
	background:$header-background-color;
	padding:30px 0px;
  
  .header_area{
    position:relative;
  }
  
  .logo{
    float:left;
  }
  
  .res-nav_click{ 
    display:none;
  }
  
  .nav{
    float:right;
    
    ul{
      list-style:none;
      padding:0px;
      
      &.toggle{
        display:none;
        visibility:hidden;
        height:0px;
        overflow:hidden;
        margin-bottom: 0;
      }
      
      li{
        display:inline-block;
        margin:0 23px;
        
        a{
          display:block;
          font-size:$font-size-navbar;
          color:$nav-text-color;
          font-family:$font-family-navbar;
          text-decoration:none;
          text-transform:uppercase;
          font-weight: 600;
          @include easeLinear;

          &:hover{
            color: $default-link-hover-color;
          }
        }
      }
    }
  }
}