#header_outer{
	background:$backgroundColor;
	padding:30px 0px;
}

.header_section{
	position:relative;
}

.logo{
	float:left;
}

.res-nav_click{ 
  display:none;
}

.nav{
  float:right;
  
  ul{
    list-style:none;
    padding:0px;
    
    &.toggle{
      display:none;
      visibility:hidden;
      height:0px;
      overflow:hidden;
      margin-bottom: 0;
    }
    
    li{
      display:inline-block;
      margin:0 23px;
      
      a{
        display:block;
        font-size:14px;
        color:#222222;
        font-family:'Dosis';
        text-decoration:none;
        text-transform:uppercase;
        font-weight: 600;
        transition:all 0.2s ease-in-out;
        -moz-transition:all 0.2s ease-in-out;
        -webkit-transition:all 0.2s ease-in-out;	
        
        
        &:hover{
          color:$themeColor3;
        }
      }
    }
  }
}