

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	.c-logo-part ul li{ margin:0 1%; float:left; width:18%;}
	.c-logo-part ul li a{ display:block;}
	.c-logo-part ul li a img{ display:block;}
	.form{ margin:0;}
	
	.main-nav{ display:block !important; }
	.main-nav li a{ padding:8px 15px;}
}

@media only screen and (max-width: 767px) {
	.client_profile.flt{ float:none;}
	.c-logo-part ul li{  margin:0 6px;}
	.c-logo-part ul a{ width:100px;}

	.users-area ul a{ margin-bottom:5px;}
	.team{ padding:60px 0 50px;}
	
	toggle.ul{ background:#fff; width:100%;}
}	


@media only screen and (max-width: 479px) {
	.header{ padding:40px;}
	.users-area ul li{ display:block;}
	.intro_area h2{ font-size:20px;} 
	.client_area{ width:276px;}
	.quote_section p{ font-size:15px;} 
	.users-area{ padding:18px 0px;}
	.c-logo-part ul li{ margin:6px 0px; display:block;}	
}