#testimonials{
	position:relative;
	background:$darkBackgroundColor;
	padding-top: $sectionPaddingTop;
}

.testimonials_area{
	width:960px;
	margin:0px auto;
	padding: $sectionArea;
	padding-top: 0px; //remove padding since picture will have padding already

	@include medium {
		width:436px;
	}

}

.testimonial_section{
	padding:35px 0 0 0;
	
	&.btm{
		padding:20px 0 0 0;
	}
}

.testimonial_profile{
	float:left;
	text-align:center;
	@include medium {
		float:none; 
		margin:0 0 20px 0;
	}

	&.flt{
		float:right;
		@include medium {
			float:none;
		}
	}
	
	h3{
		font-size:18px;
		color:$themeColor3;
		margin:0 0 0 0;
	}
	
	span{
		display:block;
		font-size:16px;
		color:$themeColor4;
	}
}

.testimonial_profile_pic{
	border-radius:50%;
	border:2px solid #f5f5f5;
	margin:0 0 15px 0;
	width:220px;
	height:220px;
	
	@include medium-2 {
		width:150px; height:150px;
	}

	@include medium {
		float:none; 
		width:150px; 
		height:150px; 
		margin:0px auto;
	}

	img{
		border-radius:50%;
		border:3px solid #f5f5f5;
	}
}

.quote_section{
	width:648px;
	background-color: $backgroundColor;
	position:relative;
	padding:40px 30px;
	float:left;
	margin:35px 0 0 30px;

	@include medium-2 {
		width:495px; 
		margin: 6px 0 0 30px;
	}

	@include medium {
		width:auto; 
		float:none;
	}

	&.lft {
		float:left;
		@include medium-2 {
			margin:6px 0 0 0;
		}
	}
}


.quote_section p{
	font-family: 'Lato',sans-serif;
	font-style: italic;
	font-size:18px;
	font-weight: 300;
	color:$themeColor4;
	text-align:center;
	position:relative;
	
}

.quote_section p b{
	display: inline-block;
	font-size: 22px;
	left: -9px;
	position: relative;
	top: -8px;
}

.quote_section p small{
	display: inline-block;
	right: -9px;
	position: relative;
	top:4px;
}

.quote_arrow{
	position:absolute;
	background:url(../img/quote_arrow.png) no-repeat left top;
	background-color: $backgroundColor;
	width:23px;
	height:25px;
	left:-22px; 
	top:50%;
	margin-top:-15.5px;
}

.quote_arrow2{
	background:url(../img/quote_arrow2.png) no-repeat right top;
	background-color: $backgroundColor;
	position:absolute;
	width:23px;
	height:25px;
	right:-22px; 
	top:50%;
	margin-top:-15.5px;
}
