#users{
	background: url(../img/poligan_bg.jpg) no-repeat left top;
	padding: 60px 0;
	filter: alpha(opacity=60);

	ul{
		padding:0;
		margin:0;
		list-style:none;
		text-align:center;
	
		li{
			display:inline;
			margin:0 25px;
		}
	
		a{
			display:inline-block;
			margin: 0 20px;
		}
	}
}

