$backgroundColor: white;
$darkBackgroundColor: #f9f9f9;
$themeColor1: #62bb46;
$themeColor2: #00aeef;
$themeColor3: #f18903;
$themeColor4: #807f80;

$sectionPaddingTop: 70px;
$sectionArea: 70px 0 70px;
// $color = #6dcff6 ;
// $color = #b3db9c ;

$sectionPaddingTopS: 40px;
$sectionAreaS: 40px 0 40px;

$sectionPaddingTopXs: 25px;
$sectionAreaXs: 25px 0 25px;
