$backgroundColor: white;
$darkBackgroundColor: #f9f9f9;
$themeColor1: #62bb46;
$themeColor2: #00aeef;
$themeColor3: #f18903;
$themeColor4: #807f80;
$footerBackgroundColor: $themeColor2;
$footerTextColor: #FFF;
$footerNoteBackgroundColor: #232b40;
$footerNoteTextColor: #888fa1;

$defaultButtonActionBackgroundColor :$themeColor1;
$defaultButtonActionHoverColor : $themeColor3;
$defaultButtonActionTextColor : #FFF;

$sectionPaddingTop: 70px;
$sectionArea: 70px 0 70px;

$sectionPaddingTopS: 40px;
$sectionAreaS: 40px 0 40px;

$sectionPaddingTopXs: 25px;
$sectionAreaXs: 25px 0 25px;
