$theme-color1: #62bb46;
$theme-color2: #00aeef;
$theme-color3: #f18903;
$theme-color4: #807f80;


$body-text-color: $theme-color4; 
$body-background-color: white;

$text-color-h2:  #222222;
$text-color-h3:  #222222;
$text-color-h6:  $theme-color4;

$nav-text-color:  #222222;

$section-background-color: #FFF;
$section-offset-background-color: #f6f6f6;

$section-padding-top: 70px;
$section-area-padding: 70px 0 70px;

$section-padding-top-sm: 40px;
$section-area-padding-sm: 40px 0 40px;

$section-padding-top-xs: 25px;
$section-area-padding-xs: 25px 0 25px;


$default-button-action-background-color :$theme-color1;
$default-button-action-hover-color : $theme-color3;
$default-button-action-text-color : #FFF;
$default-link-hover-color :  $theme-color3;


$header-background-color: $section-background-color;
$intro-background-color: $section-offset-background-color;
$essentials-background-color: $section-background-color;
$news-background-color: $section-offset-background-color;
$tutorials-background-color:$section-background-color;
$examples-background-color: $section-offset-background-color;

$newsletter-background-color: $theme-color2;
$newsletter-text-color: #FFF;
$footer-background-color: #232b40;
$footer-text-color: #888fa1;



/* FONTS*/
$body-font-family: 'Lato', sans-serif;
$font-family-h2: 'Dosis';
$font-family-h3: 'Dosis', sans-serif;
$font-family-h6: 'Open Sans', sans-serif;
$font-family-navbar: 'Dosis';

/* FONT SIZES*/
$body-font-size: 14px;
$font-size-h2: 38px;
$font-size-h3: 16px;
$font-size-h6: 16px;
$font-size-navbar: 14px;

$body-font-size-sm: 13px;
$font-size-h2-sm: 30px;
$font-size-h3-sm: 15px;
$font-size-h6-sm: 16px;
$font-size-navbar-sm: 14px;


$body-font-size-xs: 12px;
$font-size-h2-xs: 26px;
$font-size-h3-xs: 14px;
$font-size-h6-xs: 16px;
$font-size-navbar-xs: 14px;

